#inhoud {
    position:relative;
    margin-top: 46px;
}

#menu {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 46px;
    top: 0px;
    left: 0px;
}

ul {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
}

li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkred;
    color: white;
}

.huidig {
    background-color: white;
    color: black;
}

table, td, th {
    border: 2px solid;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
  